:root {
  --main-color: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.owl-next,
.owl-prev {
  font-size: 24px !important;
  padding: 30px !important;
  margin: 0;
  width: 42px;
  height: 42px;
  border-radius: 50% !important;
  color: #fe9548 !important;
  background: rgba(255, 255, 255, 0.8) !important;
}

.owl-next:hover,
.owl-prev:hover {
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%) !important;
  color: #fff !important;
}

.owl-next {
  position: absolute;
  right: -20px;
  bottom: 50%;
  transform: translateY(50%);
}

.owl-prev {
  position: absolute;
  left: -20px;
  bottom: 50%;
  transform: translateY(50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.blog-page {
  padding-top: 40px !important;
}

.blogs {
  padding-top: 85px;
  position: relative;
}

.decor-3 {
  position: absolute;
  right: 0;
  top: -80px;
}

.decor-3-1 {
  position: absolute;
  right: 8px;
  top: -80px;
}

.decor-4 {
  position: absolute;
  bottom: 0;
  left: -20px;
}

.decor-4-1 {
  position: absolute;
  bottom: 180px;
}

.blogs-title {
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  -webkit-background-clip: text;
  -webkit-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: "Montserrat";
  padding: 0;
}

#blogArea {
}

.card-blog {
  border: 2px solid rgba(226, 226, 226, 1);
}

.card-blog:hover {
  border: 2px solid #fe9548;
  box-shadow: 0 0 51px rgba(33, 33, 33, 0.2);
}

.card-body h5 {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.card-body h5:hover {
  background: var(--main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card-body .card-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #949ba4;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 54px;
}

.card-body span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #949ba4;
  margin-bottom: 4px;
}

.blogs-inner .card-blog {
  position: relative;
  background-clip: padding-box;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 10px;
}

.card-blog:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -1px;
  background-image: var(--main-color);
  border-radius: inherit;
}

.blogs-inner img {
  padding: 10px;
  border-radius: 18px;
}

.card-blog .card-body {
  padding: 0 12px !important;
}

.card-blog .read-btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  margin-bottom: 0 !important;
}

.card-blog .read-btn {
  background-color: #fadec8;
  width: 18px;
  height: 18px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-blog .read-btn i {
  font-size: 12px;
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card-blog .read-part {
  margin-bottom: 16px;
}

.card-blog .read-btn {
  margin-bottom: 0 !important;
  margin-left: 8px;
}

.blogs-inner .read-part {
  width: 50%;
}

.blogs .see-more {
  margin: 30px 0 90px 0;
}

.blogs .see-more a {
  text-decoration: none;
  border: 1px solid #fc6373;
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  -webkit-background-clip: text;
  -webkit-color: transparent;
  background-clip: text;
  color: transparent;
  padding: 10px 30px;
  border-radius: 35px;
  letter-spacing: 0.03em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 65px;
}

.blogs .see-more a:hover {
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  color: #fff;
}
