.club-introduction {
  position: relative;
  padding-top: 80px;
}

.club-introduction .vector-1 {
  position: absolute;
  bottom: -16px;
  left: 672px;
}

.club-introduction .vector-2 {
  position: absolute;
  right: 102px;
  top: 66px;
}

.first-paragraph {
  width: 520px;
  height: 64px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 56px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: #FC6373; */
  color: white;
  -webkit-text-stroke: 0.5px #f31329;
}

.second-paragraph {
  width: 563px;
  height: 52.37px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.01em;
  background: linear-gradient(90.35deg, #ff6d1b 0.11%, #ffb54d 89.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.description {
  width: 531px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: rgb(7, 18, 38);
  text-align: justify;
}

.club_read_more {
  /* background: rgba(248, 248, 248, 0.6); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(25px); */
  border-radius: 10px;
}
/* check box-shadow */

.club_read_more a {
  text-decoration: none;
  border: 1px solid #fc6373;
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  -webkit-background-clip: text;
  -webkit-color: transparent;
  background-clip: text;
  color: transparent;
  padding: 10px 30px;
  border-radius: 35px;
  letter-spacing: 0.03em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.2s ease;
  line-height: 18px;
}

.club_read_more a:hover {
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  color: #fff;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.31);
}
