/* For PC */

@media (min-width: 1024px) {
    .teams-introduce .wheel-icon {
        margin-left: 25px;
    }
    .btn-rotate {
        margin: 0 5px 0px 10px;
    }
}




/* For tablet and Mobile */

@media (max-width: 1023px) {
    .teams-introduce .wheel-icon {
        margin-left: 0;
    }
    .btn-rotate {
        margin: 0 5px 190px 100px;
    }

    .teams-introduce .teams-introduce-text {
        height: 500px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .teams-introduce .wheel-icon {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .teams {
        flex-wrap: wrap;
    }

    .btn-rotate {
        margin: 0 5px 0 20px !important;
        flex-direction: row;
        transform: rotate(90deg) !important;
    }
    .teams-introduce .teams-introduce-text {
        height: 350px;
    }
    .teams-introduce-text span {
        font-size: 38px;
    }
    .teams-introduce-text h1 {
        font-size: 27px;
    }
    
}